#standardArrayRadioContainer{
  display: none;
}
#abilityScoreSelection {
  display: none;
}
#pointBuyContainer{
  display: none;
}

#abilityScoresTable, table {
  text-align: center;
}
#pointBuyErrorContainer {
  color: red;
}
.characterStatsDisplayBox {
  border: 1px dashed black;
}
.pointBuyDiv {
  text-align: center;
}
.pointBuyDiv button {
  width: 5em;
}