#standardArrayRadioContainer{
  display: none;
}
#abilityScoreSelection {
  display: none;
}
#pointBuyContainer{
  display: none;
}

#abilityScoresTable, table {
  text-align: center;
}
.characterStatsDisplayBox {
  border: 1px dashed black;
}